<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>

<div>
    <p style="color: #ffffff" align="center">
        This site was developed by <b>Gilad Shimony & Shay Talyas</b>
        from Ben-Gurion University of the Negev, Department of Software & Information Systems Engineering.</p>

    <p style="color: #ffffff" align="center">
        At the beginning of the work we thought deeply about the responsibilities
        of the server side and the client side.</p>

    <p style="color: #ffffff" align="center">
        We mapped all the functions to be implemented on the server
        and client side. For example, the products should be sorted on the client side.</p>

    <p style="color: #ffffff" align="center">
        In addition, client programming at Angular was very challenging and required a lot of investment from us.</p>

    <p style="color: #ffffff" align="center">
        We encountered some difficulties during our work.</p>
    <p style="color: #ffffff" align="center">
        For example: syntax issues and compilation errors -
        it is very difficult to debug the code and sometimes it takes a very long time to understand where
        the mistake is.</p>

    <p style="color: #ffffff" align="center">
        In addition, we spent a lot of time to fully understand the functionality and all its parts
        before we started programming.</p>

    <p style="color: #ffffff" align="center"> In conclusion, we can say that we learned a lot from this assignment and
        even enjoyed it during work :) </p>

    <p style="color: #ffffff" align="center">
        <a href="https://pacman-game-gilad.000webhostapp.com/">Visit our PacMan Game</a>
        <br/><br/>
        <a href="https://fiducial-allocation.000webhostapp.com//">Visit Gilad Shimony Website</a>
    </p>

</div>
</div>

</body>
</html>